{% extends "layouts/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home', {defer: true}) }}
{% endblock %}

{% block body %}
    <h1>Hello World from Twig!</h1>

    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="form[username]" id="username" value="{{ username|default('') }}">

        <label for="email">Email</label>
        <input type="text" name="form[email]" id="email" value="{{ email|default('') }}">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <input type="submit" name="submit" value="Envoyer">
    </form>

    {% if errors is defined and errors is not empty %}
        {% for error in errors %}
            <p>{{ dump(error) }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}