{% extends "layouts/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('single') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('single', {defer: true}) }}
{% endblock %}

{% block header %}{% endblock %}

{% block page_content %}
    <main id="login" class="mt-5 pt-md-5 mb-4 mb-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-8 pb-3 pt-5 shadow">
                    <h1>Réinitialisation du mot de passe</h1>
                    <div class="my-5">

                        <form method="post" id="comments-form">

                            {% if errors is defined and errors is iterable %}
                                {% for error in errors %}
                                    <p class="alert alert-danger">{{ error['message'] }}</p>
                                {% endfor %}
                            {% endif %}

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                            <div class="form-floating mb-4">
                                <input
                                        class="form-control"
                                        name="form[plainPassword]"
                                        id="username"
                                        type="password"
                                        placeholder="password"
                                        required
                                />
                                <label for="username">Nouveau mot de passe</label>
                            </div>

                            <div class="d-md-flex gap-3">
                                <button class="btn btn-primary mt-3" id="submit" value="submit" name="submit"
                                        type="submit">
                                    Réinitialiser mon mot de passe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-4 px-lg-5 mt-4">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-8 p-0">
                    <a href="{{ path('login') }}" class="btn btn-outline-dark"><i class="fa-solid fa-circle-left"></i>
                        Se connecter
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}{% endblock %}
