{% extends "layouts/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('single') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('single', {defer: true}) }}
{% endblock %}

{% block header %}{% endblock %}

{% block page_content %}
    <main id="login" class="mt-5 pt-md-5 mb-4 mb-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-8 pb-3 pt-5 shadow">
                    <h1>Connexion</h1>
                    <div class="my-5">

                        <form method="post" id="comments-form">

                            <div class="form-floating mb-4">
                                <input
                                        class="form-control"
                                        name="user[username]"
                                        id="username"
                                        type="text"
                                        placeholder="John Doe"
                                        required
                                />
                                <label for="username">Identifiant</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input
                                        class="form-control"
                                        name="user[password]"
                                        id="password"
                                        type="password"
                                        placeholder="*****"
                                        required
                                />
                                <label for="password">Mot de passe</label>
                            </div>


                            <div class="d-md-flex gap-3">
                                <button class="btn btn-primary mt-3" id="submitButton" type="submit">
                                    Connexion
                                </button>

                                <a href="{{ path('reset_password') }}" class="btn btn-outline-primary mt-3">
                                    J'ai oublié mon mot de passe
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-4 px-lg-5 mt-4">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-8 p-0">
                    <a href="{{ path('home') }}" class="btn btn-outline-dark"><i class="fa-solid fa-circle-left"></i>
                        Revenir sur la page d'accueil
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}{% endblock %}