{% extends "layouts/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('single') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('single', {defer: true}) }}
{% endblock %}

{% block header_content %}
    <!-- Page Header-->
    <header class="masthead"
            {% block header_bg_style %}style="background-image: url({{ post.filename ?? 'img/home-bg.jpg' }})"{% endblock %}>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-10">
                    <div class="site-heading">
                        {% block page_title %}
                            <h1>{{ post.title }}</h1>
                            <span class="subheading mt-5">{{ post.excerpt ?? post.content|slice(0, 300)|secure|striptags ~ '...' }}</span>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="m-0 col-md-10 col-xl-8 d-flex justify-content-between align-items-center">
                <p class="m-0">Publié le {{ post.createdAt|format_datetime(locale='fr', pattern='dd MMM yy à HH:mm') }}</p>
                <p class="m-0">par {{ post.user.username|capitalize }}</p>
            </div>
        </div>
    </div>

    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-xl-8 mt-5">
                    {% autoescape %}
                        {{ post.content|secure|raw }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </article>

    <section id="comments" class="container px-4 px-lg-5 mb-5 pb-5" aria-labelledby="comments-title">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-4">
            <div class="col-md-10 col-xl-8">
                <hr>
                <h2 class="mt-5" id="comments-title">Commentaires</h2>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-xl-8">
                <div class="comment__heading d-flex justify-content-between align-content-center">
                    <p>John Doe</p>
                    <span class="align-self-center">
                       <a href="#"><i class="fa fa-exclamation-circle text-warning"></i></a>
                       <a href="#" class="m-2"><i class="fa fa-close text-danger"></i></a>
                   </span>
                </div>

                <p class="mt-2">Space, the final frontier. These are the voyages of the Starship Enterprise. Its
                    five-year mission:
                    to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man
                    has gone before.

                    As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental
                    truth to our nature, Man must explore, and this is exploration at its greatest.</p>
            </div>
            <div class="col-md-10 col-xl-8">
                <div class="comment__heading d-flex justify-content-between align-content-center">
                    <p>John Doe</p>
                    <span class="align-self-center">
                       <a href="#"><i class="fa fa-exclamation-circle text-warning"></i></a>
                       <a href="#" class="m-2"><i class="fa fa-close text-danger"></i></a>
                   </span>
                </div>

                <p class="mt-2">Space, the final frontier. These are the voyages of the Starship Enterprise. Its
                    five-year mission:
                    to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man
                    has gone before.
                    <i data-feather="circle"></i>
                    <i data-feather="circle"></i>
                    <i data-feather="circle"></i>
                    <i data-feather="circle"></i>

                    As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental
                    truth to our nature, Man must explore, and this is exploration at its greatest.</p>
            </div>
            <div class="col-md-10 col-xl-8">
                <div class="comment__heading d-flex justify-content-between align-content-center">
                    <p>John Doe</p>
                    <span class="align-self-center">
                       <a href="#"><i class="fa fa-exclamation-circle text-warning"></i></a>
                       <a href="#" class="m-2"><i class="fa fa-close text-danger"></i></a>
                   </span>
                </div>

                <p class="mt-2">Space, the final frontier. These are the voyages of the Starship Enterprise. Its
                    five-year mission:
                    to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man
                    has gone before.

                    As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental
                    truth to our nature, Man must explore, and this is exploration at its greatest.</p>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center mt-3">
            <div class="col-md-10 col-xl-8 mt-4 shadow p-5">
                <form method="post" id="comments-form">
                    <div class="form-floating mb-4">
                        <input class="form-control" id="name" type="text" placeholder="Votre pseudo" required/>
                        <label for="name">Pseudo</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Le pseudo est requis</div>
                    </div>

                    <div class="form-floating mb-4">
                        <textarea class="form-control" placeholder="Votre commentaire" id="comment[content]"
                                  required></textarea>
                        <label for="comment[content]">Commentaire</label>
                    </div>

                    <div class="mt-3" id="submitErrorMessage">
                        <div class="d-none text-center text-danger mb-3">Une erreur est survenue</div>
                    </div>

                    <button class="btn btn-primary" id="submitButton" type="submit">Envoyer</button>
                </form>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center mt-5">
            <div class="col-md-10 col-xl-8 mt-4 text-center">
                <a href="#" class="btn btn-outline-primary">Charger plus de commentaires</a>
            </div>
        </div>
    </section>
{% endblock %}