{% extends "layouts/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('single') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('single', {defer: true}) }}
{% endblock %}

{% block header_content %}
    <header class="masthead"
            {% block header_bg_style %}style="background-image: url({{ (post.filename is empty) ? 'img/home-bg.jpg' :'/uploads/' ~ post.filename }})"{% endblock %}>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-10">
                    <div class="site-heading">
                        {% block page_title %}
                            <h1>{{ post.title }}</h1>
                            <span class="subheading mt-5">
                                {% if post.excerpt is not empty %}
                                    {{ post.excerpt|secure|striptags }}
                                {% else %}
                                    {{ post.content|secure|striptags|slice(0, 300) ~ '...' }}
                                {% endif %}
                            </span>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="m-0 col-md-10 col-xl-8 d-flex justify-content-between align-items-center">
                <p class="m-0">Publié
                    le {{ post.createdAt|format_datetime(locale='fr', pattern='dd MMM yy à HH:mm') }}</p>
                <p class="m-0">par {{ post.user.username|capitalize }}</p>
            </div>
        </div>
    </div>

    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-xl-8 mt-5">
                    {% autoescape %}
                        {{ post.content|secure|raw }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </article>

    <section id="comments" class="container px-4 px-lg-5 mb-5 pb-5" aria-labelledby="comments-title">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-4">
            <div class="col-md-10 col-xl-8">
                <hr>
                <h2 class="mt-5" id="comments-title">Commentaires</h2>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center">

            {% for comment in post.comments %}
                <div class="col-md-10 col-xl-8">
                    <div class="comment__heading d-flex justify-content-between align-content-center">
                        <p>Par {{ comment.user.username }}
                            <span>
                                le {{ comment.createdAt|format_datetime(locale='fr', pattern='dd MMM yy à HH:mm') }}
                            </span>
                        </p>
                        <span class="align-self-center">
                       <a href="#"><i class="fa fa-exclamation-circle text-warning"></i></a>

                        {% if auth.user.isAdmin %}
                            <a href="#" class="m-2"><i class="fa fa-close text-danger"></i></a>
                        {% endif %}
                   </span>
                    </div>

                    <p class="mt-2">{{ comment.content|nl2br }}</p>
                </div>
            {% endfor %}

        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center mt-3">
            <div class="col-md-10 col-xl-8 mt-4 shadow p-5">

                {% if auth.isLoggedIn %}

                    {% if errors is defined and errors is iterable %}
                        {% for error in errors %}
                            <p class="alert alert-danger">{{ error['message'] }}</p>
                        {% endfor %}
                    {% endif %}

                    <form action="" method="post" id="comments-form">

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="form-floating mb-4">
                            <textarea class="form-control" placeholder="Votre commentaire" id="comment[content]"
                                      name="form[content]" required>{{ form.get('content')|default('') }}</textarea>
                            <label for="comment[content]">Commentaire</label>
                        </div>

                        <input type="hidden" name="form[post_id]" value="{{ post.id }}">
                        <input type="hidden" name="form[user_id]" value="{{ auth.user['userId'] }}">

                        <button class="btn btn-primary mt-3" id="submitButton" type="submit" name="submit"
                                value="submit">
                            Envoyer
                        </button>
                    </form>
                {% else %}
                    <p>Vous devez être connecté pour publier un commentaire</p>
                    <a href="{{ path('login') }}?redirect={{ app.request_uri }}" class="btn btn-primary">Se
                        connecter</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
