{% extends "layouts/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('single') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('single', {defer: true}) }}
{% endblock %}

{% block header %}{% endblock %}

{% block page_content %}
    <main id="login" class="mt-5 pt-md-5 mb-4 mb-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-8 pb-3 pt-5 shadow">
                    <h1>Inscription</h1>
                    <div class="my-5">

                        <p class="alert alert-info">
                            Après l'envoi du formulaire, votre compte sera soumis à une validation manuelle.
                        </p>

                        {% if errors is defined and errors is iterable %}
                            {% for error in errors %}
                                <p class="alert alert-danger">{{ error['message'] }}</p>
                            {% endfor %}
                        {% endif %}

                        <form action="" method="post" id="comments-form">

                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                            <div class="form-floating mb-4">
                                <input
                                        class="form-control"
                                        name="form[username]"
                                        id="username"
                                        type="text"
                                        value="{{ form.get('username')|default('') }}"
                                        placeholder="John Doe"
                                        required
                                />
                                <label for="username">Identifiant</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input
                                        class="form-control"
                                        name="form[email]"
                                        id="username"
                                        type="email"
                                        value="{{ form.get('email')|default('') }}"
                                        placeholder="Adresse email"
                                        required
                                />
                                <label for="username">Adresse mail</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input
                                        class="form-control"
                                        name="form[password]"
                                        id="password"
                                        type="password"
                                        placeholder="*****"
                                        required
                                />
                                <label for="password">Mot de passe</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input
                                        class="form-control"
                                        name="password_verify"
                                        id="password"
                                        type="password"
                                        placeholder="*****"
                                        required
                                />
                                <label for="password">Retaper le mot de passe</label>
                            </div>

                            <div class="d-md-flex gap-3">
                                <button class="btn btn-primary mt-3" id="submitButton" type="submit" name="submit"
                                        value="submit">
                                    S'inscrire
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-4 px-lg-5 mt-4">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-8 p-0">
                    <p>Vous avez déjà un compte ?</p>
                    <a href="{{ path('login') }}" class="btn btn-outline-dark"><i class="fa-solid fa-circle-left"></i>
                        Connexion
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}{% endblock %}