{% extends 'layouts/dashboard_layout.html.twig' %}

{% block page_content %}
    <main id="dashboard" class="dashboard mb-5">
        <div class="container-fluid mt-5 pt-5 px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="row col-12">

                    <h1 class="mb-5">Gestion des commentaires</h1>

                    <div class="overflow-auto">
                        <table class="table table-borderless table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Contenu</th>
                                <th scope="col">Article</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if comments is not empty and comments is iterable %}
                                {% for comment in comments %}
                                    <tr>
                                        <td data-label="Date">
                                            {{ comment.createdAt|format_datetime(locale='fr', pattern='dd MMM YYYY') }}
                                        </td>
                                        <td data-label="Auteur">{{ comment.user.username }}</td>
                                        <td data-label="Contenu">{{ comment.content }}</td>
                                        <td data-label="Article">
                                            <a href="{{ path('post', {slug: comment.post.slug}) }}" target="_blank">
                                                {{ comment.post.title }}
                                            </a>
                                        </td>
                                        <td class="actions">
                                            {% if comment.enabled %}
                                                <a href="{{ path('admin_toggle_comment', {id: comment.id}) }}"
                                                   id="btn-enable"
                                                   class="btn btn-lg"
                                                   title="Désactiver"
                                                >
                                                    <i class="fa fa-check-square text-success"></i>
                                                </a>
                                            {% else %}
                                                <a href="{{ path('admin_toggle_comment', {id: comment.id}) }}"
                                                   id="btn-disable"
                                                   class="btn btn-lg"
                                                   title="Activer"
                                                >
                                                    <i class="fa fa-xmark-square text-danger"></i>
                                                </a>
                                            {% endif %}

                                            <a href="{{ path('post', {slug: comment.post.slug}) }}#{{ comment.id }}"
                                               id="btn-display"
                                               class="btn btn-lg {% if not comment.enabled %}disabled{% endif %}"
                                               title="Voir le commentaire"
                                               target="_blank"
                                            >
                                                <i class="fa fa-eye text-secondary"></i>
                                            </a>

                                            <a href="{{ path('admin_delete_comment', {id: comment.id}) }}"
                                               id="btn-delete"
                                               class="btn btn-lg"
                                               title="Supprimer"
                                            >
                                                <i class="fa fa-trash text-secondary"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                    {% if comments is empty %}
                        <p class="alert alert-info">Il n y a pas encore de commentaires</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            const btns = document.querySelectorAll('#btn-delete');
            btns.forEach((btn) => {
                btn.addEventListener('click', (event) => {
                    if (!window.confirm('Êtes-vous certain de vouloir supprimer ce commentaire ?')) {
                        event.preventDefault();
                    }
                });
            })
        })
    </script>
{% endblock %}

