{% extends 'layouts/dashboard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/ui/trumbowyg.min.css"
          integrity="sha512-K87nr2SCEng5Nrdwkb6d6crKqDAl4tJn/BD17YCXH0hu2swuNMqSV6S8hTBZ/39h+0pDpW/tbQKq9zua8WiZTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block page_content %}
    <main id="dashboard" class="mt-5 pt-md-5 mb-5">
        <div class="container mt-5 pt-5 px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-xl-8">

                    <h1 class="mb-5">Éditer un article</h1>

                    {% if form is defined and form.hasErrors %}
                        {% for error in form.errors %}
                            <p class="alert alert-danger">{{ error['message'] }}</p>
                        {% endfor %}
                    {% endif %}

                    <form enctype="multipart/form-data" method="post" id="comments-form">

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="form-floating mb-4">
                            <input class="form-control"
                                   id="title"
                                   name="form[title]"
                                   type="text"
                                   placeholder="Titre"
                                   value="{{ form.get('title') ?: post.title }}"
                                   required
                            />
                            <label for="title" class="mb-2 mt-3">Titre</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input class="form-control" id="excerpt" name="form[excerpt]" type="text"
                                   placeholder="Résumé" value="{{ form.get('excerpt') ?: post.excerpt }}"/>
                            <label for="excerpt" class="mb-2 mt-3">Résumé</label>
                        </div>

                        <div class="row align-items-center mb-4">
                            <div class="col-3">
                                <img src="
                                    {% if (post.filename) %}
                                        {{ '/uploads/thumbs/' ~ post.filename }}
                                    {% else %}
                                        /img/noimage.jpg
                                    {% endif %}"
                                     id="imagePreview"
                                     class="img-thumbnail featured-image-form mt-3"
                                     alt="Image mise en avant">
                            </div>
                            <div class="col-9">
                                <label for="name" class="text-muted mb-2 mt-3">Image mise en avant (optionnel)</label>
                                <input class="form-control" id="image" type="file" name="form[file]"/>
                            </div>
                        </div>

                        <div class="form-floating mb-4">
                            <input class="form-control"
                                   id="slug"
                                   name="form[slug]"
                                   type="text"
                                   placeholder="slug"
                                   value="{{ form.get('slug') ?: post.slug }}"/>
                            <label for="slug" class="mb-2 mt-3">Slug (optionnel)</label>
                        </div>

                        <label for="editor" class="text-muted mb-2 mt-3">Contenu</label>

                        <textarea class="form-control editor" id="editor" name="form[content]"
                                  required>{{ form.get('content') ?: post.content }}</textarea>

                        <button class="btn btn-primary mt-5" id="submitButton" name="submit"
                                type="submit" value="submit">
                            Mettre à jour
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add_post', {defer: true}) }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.2/trumbowyg.min.js"
            integrity="sha512-mBsoM2hTemSjQ1ETLDLBYvw6WP9QV8giiD33UeL2Fzk/baq/AibWjI75B36emDB6Td6AAHlysP4S/XbMdN+kSA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            $('#editor').trumbowyg();

            const imagePreview = document.getElementById('imagePreview');
            document.getElementById('image').addEventListener('change', (e) => {
                if (e.target.files[0]['type'].split('/')[0] !== 'image') {
                    window.alert('Attention, votre fichier téléversé ne semble pas être une image');
                    imagePreview.src = `//${window.location.host}/img/unknown.png`;
                    return;
                }

                imagePreview.src = URL.createObjectURL(e.target.files[0]);
            });
        });
    </script>
{% endblock %}
