{% extends 'layouts/dashboard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <main id="dashboard" class="mt-5 pt-md-5 mb-5">
        <div class="container mt-5 pt-5 px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-xl-8">

                    {% if form is defined and form.hasErrors %}
                        {% for error in form.errors %}
                            <p class="alert alert-danger">{{ error['message'] }}</p>
                        {% endfor %}
                    {% endif %}

                    <form method="post" id="comments-form">

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="form-floating mb-4">
                            <input class="form-control"
                                   id="title"
                                   name="form[title]"
                                   type="text"
                                   placeholder="Titre"
                                   required
                            />
                            <label for="title">Titre</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input class="form-control" id="excerpt" name="form[excerpt]" type="text"
                                   placeholder="Résumé"/>
                            <label for="excerpt">Résumé</label>
                        </div>

                        <div class="mb-4">
                            <label for="name" class="text-muted">Image mise en avant (optionnel)</label>
                            <input class="form-control" id="image" type="file" name="form[file]"/>
                        </div>

                        <div class="form-floating mb-4">
                            <input class="form-control" id="slug" name="form[slug]" type="text"
                                   placeholder="slug"/>
                            <label for="slug">Slug (optionnel)</label>
                        </div>

                        <label for="form[content]" class="text-muted">Contenu</label>

                        <textarea class="form-control editor" id="form[content]" required></textarea>

                        <button class="btn btn-primary mt-5" id="submitButton" name="submit"
                                type="submit" value="submit">
                            Ajouter
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add_post', {defer: true}) }}

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            const quill = new Quill('#editor', {theme: 'snow'})
        })
    </script>
{% endblock %}
